{% extends 'base.html' %}

{% block title %}Agregar Película{% endblock %}

{% block content %}
<h1>Agregar Película</h1>
<form method="POST" enctype="multipart/form-data">
    <label for="titulo">Título:</label>
    <input type="text" id="titulo" name="titulo" required><br>
    <label for="director">Director:</label>
    <input type="text" id="director" name="director"><br>
    <label for="anio">Año:</label>
    <input type="number" id="anio" name="anio"><br>
    <label for="portada">Portada:</label>
    <input type="file" id="portada" name="portada" accept="image/*"><br>
    <label for="sinopsis">Sinopsis:</label>
    <textarea id="sinopsis" name="sinopsis"></textarea><br>
    <input type="submit" value="Agregar">
</form>
{% endblock %}
