{% extends 'base.html' %}

{% block title %}Lista de Películas{% endblock %}

{% block content %}
<h1>Lista de Películas</h1>
<table>
    <thead>
        <tr>
            <th>Título</th>
            <th>Director</th>
            <th>Año</th>
            <th>Portada</th>
            <th>Sinopsis</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for movie in movies %}
        <tr>
            <td>{{ movie.titulo }}</td>
            <td>{{ movie.director }}</td>
            <td>{{ movie.anio }}</td>
            <td><img src="{{ movie.portada }}" alt="{{ movie.titulo }}" width="100"></td>
            <td>{{ movie.sinopsis }}</td>
            <td>
                <a href="{{ url_for('edit_movie', id=movie.id) }}" class="edit-btn">Editar</a>
                <a href="{{ url_for('delete_movie', id=movie.id) }}" class="delete-btn">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>¿Desea añadir una nueva película?</h2>
<div style="text-align: center;">
    <a href="{{ url_for('add_movie') }}" class="add-btn">Añadir Película</a>
</div>
{% endblock %}
